.page .big-blog {
  margin-top: 150px;
  border-radius: 10px;
  width: 300px;
  /* margin: auto; */
  /* position: relative; */
}


.big-blog .title{
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
  font-size: 70px;
}

.form-container {
  margin-bottom: 20px;
}

.label {
  margin-bottom: 20px;
  justify-content: center;
  border: none;
}

.email-bloc,
.password-blog {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  background-color: rgb(181, 233, 207);
  text-align: center;
}

.error-message-container {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-message {
  flex-grow: 1;
}

.ok-button {
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.login-button {
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.page img{
  height: 150px;
  width: auto;
}

/* Media Queries pour le design responsive */
@media screen and (max-width: 768px) {
  .big-blog {
    width: 80%;
    background-color: chartreuse;
  }
}

@media screen and (max-width: 576px) {
  .big-blog {
    width: 90%;
    background-color: chartreuse;
  }
}
